.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  padding: 0 3%;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links {
  font-weight: bold;
  padding: 0.5px 1px;
}

.active {
  border-bottom: 2px solid red;
}
